@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('./assets/sunset.jpg');
  background-size: cover;
  background-repeat:repeat-y;
  color: whitesmoke;
  font-family: 'PT Serif', serif;
}

@media (max-width: 640px) {
  body{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}